@charset "UTF-8";

header, header > nav { 
    flex-flow: column nowrap;
    background-color: rgb(130, 130, 130);
}

header > h1 {
   flex-basis: 40px;
}

header > nav > a {
    width: 100vw;
}

header > nav > a:hover {
    text-shadow: 2px 2px 2px black;
}